body{
  background-color: rgb(87, 112, 158);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: url(../assets/jesus-5347929_960_720.jpeg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-bottom: 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-gap: 0vmin;
  height: 68vmin;
  width: 68vmin;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(121, 98, 67);
  background-color: rgba(255, 255, 255, .4);
}

.cell {
  /* border-style: dashed; */
  border-width: 0.1px;
  border-color: slateblue;
  width: 3.5vmin;
  height: 3.5vmin;

}

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  background-color: rgba(255, 255, 255, .6);
  padding: 0px 20px;
  margin-top: 10px;
  font-size: 14px;
  box-shadow: 0 0 15px rgb(121, 98, 67);
  border: solid rgb(121, 98, 67);
}

.reset {
  border-radius: 5px;
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  padding: 3px;
}

/* Create a class of snake and fruit then use JS to add to it */
.snake {
  background-color: olivedrab;
  border-radius: 50%;
  box-shadow: 0 0 12px rgb(26, 44, 44);
}

.fruit {
  background-color: rgb(123, 11, 11);
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(110, 16, 9);
}