body{
  background-color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-gap: 0vmin;
  height: 68vmin;
  width: 68vmin;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 3px;
  border-color: cornflowerblue;
}

.cell {
  border-style: dashed;
  border-width: 0.1px;
  border-color: slateblue;
}

.info {
  display: flex;
  flex-direction: row;
}

/* Create a class of snake and fruit then use JS to add to it */
.snake {
  background-color: aquamarine;
}

.fruit {
  background-color: blanchedalmond;
}